[user]
	email = cjdisme@gmail.com
	name = Chris Davis
[color]
	ui = auto
[alias]
	l = log --oneline --graph
	d = diff .
	dc = diff --cached
	s = status .
	c = commit
	ca = commit -a
	cm = commit -m
	a = add
	aa = add -A
[core]
	editor = vim
